[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.47"
psycopg2-binary = "==2.9.9"
debugpy = "<2,>=1.0"
fastapi = {extras = ["standard"], version = "==0.112.2"}
uvicorn = "==0.32.0"
pipfile = "*"

[dev-packages]
pytest = "==8.2.2"

[requires]
python_version = "3.12"
